%head
  %link{href:"css/styles.css", rel:"stylesheet"}/

  %body
    .container
      .header
        .hdr-in
          .logo
            %img{src:"./img/header-logo.png"}

          .hdr-text
            %p#1f.pp
              <span>3</span> easy steps to clean your mac!
          .cb

        .cb
      .main
        .m-in

    %script{src:"js/jquery-3.1.1.min.js"}
    %script{src:"js/main.js"}
